//Screen sizes
$sm: 550px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1320px;


// Primary

$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);

// Neutral

$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);


html{
    font-size: 62.5%; /* 1rem = 10px */
box-sizing: border-box;
font-family: 'Spartan', sans-serif; }
@media only screen and (max-width: 64em) {
  html {
    font-size: 50%; } }


body{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-family: 'Spartan', sans-serif;
}

main{
    min-width: 60%;

    display: flex !important;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $md) {
        height: 100vh;
      }
    
}

.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div{
        /*flex: 1;*/
    }
    .content-left{
        width: 42rem;
        h1{
            color: $Very-Dark-Magenta;
            font-weight: 700;
            font-size: 4.2rem;
            line-height: 1;
        }
        p{
            color: $Dark-Grayish-Magenta;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            
        }

        @media (max-width: $md) {
            width: 100%;
            text-align: center;
          }
    }

    .content-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        .rating{
            padding: 1.8rem 1.8rem;
            padding-left: 3.5rem;
            padding-right: 3.5rem;
            background-color: $Light-Grayish-Magenta;
            color: $Very-Dark-Magenta;
            font-weight: 700;
            font-size: 1.4rem;
            border-radius: 1rem;
            display: flex;
            justify-content: center;

            .starts{
                display: inline;
                @media (max-width: $md) {
                    margin-bottom: 1rem;
                }
            }

            &:first-of-type{
                margin-right: 20rem;      
              }

            &:nth-child(2){
              margin-right: 10rem;      
            }

            img{
                margin-right: 0.5rem;

                &:last-of-type{
                    margin-right: 3rem;
                }
            }

              @media (max-width: $xl) {
                margin-right: 0 !important;  
              }


            @media (max-width: $md) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 1rem;
            }

            @media (max-width: $sm) {
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
            }

        }

        @media (max-width: $md) {
            width: 100%;
            display: flex;
            align-items: center;
          }

          @media (max-width: $xl) {
            align-items: stretch;
          }
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .card{
        background-color: $Very-Dark-Magenta;
        width: 27rem;
        font-size: 1.2rem;
        padding: 3rem;
        border: 1px solid black;
        border-radius: 1rem;
        height: max-content;
        //display: inline-table;
        .header{
            display: flex;
            margin-bottom: 2rem;
            align-items: end;

            .ditail{

                display: flex;
                flex-direction: column;
                justify-content: end;
                  h2{
                    color: $Light-Grayish-Magenta;
                    margin-bottom: 0.5rem;
                    font-weight: 700;
                    font-size: 1.2rem;
                  }
                p{
                    color: $Soft-Pink;    
                    margin:0;
                    //margin-top: 2rem 2rem !important;
                  }
            }

            img{
                margin-right: 1rem;
                border-radius: 5rem;
                width: 4rem;
                height: 4rem;
            }
        }

        .body{
            color: $Light-Grayish-Magenta;
            font-weight: 400;
            line-height: 1.6;
        }


        @media (max-width: $md) {
            width: 100%;
        }
    }

    .card:nth-child(2){
        margin-top: 2rem;
    }
    .card:nth-child(3){
        margin-top: 4rem;
        @media (max-width: $sm) {
            margin-top: 2rem;
        }
    }
}


.border{
    border: 1px solid #CCC;
}